@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --dark-primary-color: #333a45;
  --light-primary-color: #fff;
  --dark-text-color: #fff;
  --light-text-color: #404756;
  --dark-span-color: #404756;
  --light-span-color: #dad8d8;
}
.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #282c34;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  --background-color: var(--light-primary-color);
  --text-color: var(--light-text-color);
  --span-color: var(--light-span-color);
}
body.dark {
  --background-color: var(--dark-primary-color);
  --text-color: var(--dark-text-color);
  --span-color: var(--dark-span-color);
}

// NavBar

.active {
  background-color: #1d4ed8;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  position: sticky;
  top: 0;
  z-index: +99;
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  /* top: 10px; */
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav ul li a:not(.active):hover {
  background-color: #087da443;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}

@media (max-width: 676px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}
.search-bar {
  background-color: var(--background-color);
  display: flex;
  width: 100%;
  left: 0;
  border-radius: 15px;
  height: auto;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #565a61;
  align-items: center;
}
.search-bar input {
  background-color: transparent;
  color: #61dafb;
  border: none;
  height: auto;
  width: 100%;
  font-size: 1.25rem;
  margin-left: 10px;
}
.search-bar input::placeholder {
  color: #566885;
}
.search-bar input:focus {
  outline: none;
}
#SearchIcon {
  color: #566885;
}

#darkMode {
  background: transparent url("../src/Asset/vector33.svg") no-repeat center;
  background-size: 30px 30px;
  width: 70px;
  height: 70px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  color: #fff;
}

#darkMode:hover,
#darkMode:focus {
  filter: none;
  background-color: var(--span-color);
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
  background: transparent url("../src/Asset/vector34.svg") no-repeat center;
}
/* Screens */
.secondScreen {
  background-color: var(--background-color);
  color: var(--text-color);
  height: auto;
  padding: 150px 0;
}

.main-screen {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  font-size: 36px;
  padding-top: 150px;
}
.main-screen h1 {
  font-size: 56px;
}
.main-screen button {
  cursor: pointer !important;
  font-size: 24px;
  border-radius: 30px;
  padding: 10px 50px;
  margin: 10px;
  color: var(--text-color);
  background-color: #087ea4;
  border: 1px solid #404756;
}

.main-screen Button:hover {
  background-color: var(--background-color);
  border: 1px solid #404756;
}
.main-screen .second-btn {
  background-color: #23272f;
}
.main-screen .second-btn:hover {
  background-color: rgba(74, 78, 87, 0.121);
}

.secondScreen span {
  background-color: var(--span-color);
  border-radius: 10px;
  padding: 5px;
}
.secondScreen h1 {
  width: auto;
  text-align: center;
  font-size: 58px;
  margin-bottom: 30px;
}
.secondScreen p {
  width: auto;
  font-size: 24px;
  text-align: center;
  padding: 20px 150px;
}
/* .secondScreen button {
  cursor: pointer !important;
  font-size: 24px;
  border-radius: 30px;
  padding: 10px 50px;
  margin: 10px;
  color: white;
  background-color: #087ea4;
  border: 1px solid #404756;
} */
.secondScreen .second-btn {
  display: flex;
  gap: 10px;
  width: fit-content;
  text-align: center;
  cursor: pointer !important;
  font-size: 24px;
  border-radius: 30px;
  padding: 10px 30px;
  margin: auto;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid #404756;
}
.secondScreen .second-btn:hover {
  background-color: rgba(74, 78, 87, 0.121);
}
.secondScreen a {
  text-decoration: none;
}
.secondScreen a:hover {
  text-decoration: underline;
}
.second-btn svg {
  fill: var(--text-color) !important ;
}

.footer {
  display: flex;
  background-color: var(--background-color);
  color: var(--text-color);
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
}
.copyright {
  padding: 30px 0;
}
.links {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--background-color);
  justify-content: space-between;
  gap: 100px;
  align-items: flex-start;
  text-align: left;
}
.link-list {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
.link-list a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 0;
}
.link-list a:hover {
  text-decoration: underline;
}
.social a {
  width: 100px;
  height: 100px;
}
/* Blogs */
.blogs {
  background-color: var(--background-color);
}
.mini-blog {
  width: 60%;
  text-align: left;
  border-radius: 15px;
  border: 1px solid #537f8e;
  background-color: var(--background-color);
  padding: 15px;
  margin: auto;
  margin-bottom: 15px;
}
.mini-blog:hover {
  background-color: #333a453b;
}
.mini-blog h2 {
  color: var(--text-color);
  font-weight: 500;
}
.mini-blog h2:hover {
  text-decoration: underline;
}
.mini-blog {
  font-size: 18px !important;
  color: var(--text-color);
}

/* Images Slider */
.slider {
  height: 400px;
  margin: auto;
  position: relative;
  width: 80%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.slide-track {
  display: flex;
  width: calc(250px * 8);
  animation: scroll 30s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 4));
  }
}

.slide {
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  padding: 15px;
}
.img-slide {
  height: 200px;
  width: 200px;
  transform: rotate(-10deg);
  border-radius: 5px;
}
.img-slide:hover {
  transform: rotate(0deg);
  height: 250px;
  width: 250px;
  transition: ease-in-out 0.3s;
}
/* Image */

.img-section {
  width: 80%;
}
/* Boxes */
.separate-boxes {
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.separate-boxes p {
  text-align: left;
}
.all-boxes {
  display: flex;
  flex-direction: column;
  padding: 150px 0;
}
.boxes-head {
  text-align: left;
  font-size: 24px !important;
  color: var(--text-color);
  margin-left: 150px;
}
.mini-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  /* align-items: center; */
  /* gap: 20px; */
}
.mini-box {
  width: 80%;
  text-align: left;
  border-radius: 15px;
  border: 1px solid #537f8e;
  background-color: var(--background-color);
  padding: 15px;
  margin: 15px auto;
  color: var(--text-color);
}
.mini-box:hover {
  background-color: #353a4363;
}
.mini-box h2 {
  font-weight: 500;
}
.mini-box h2:hover {
  text-decoration: underline;
}
.mini-date {
  font-size: 24px !important;
  color: #537f8e;
}

@media (max-width: 767px) {
  /* .App {
    width: 100%;
  } */
  /* .secondScreen {
    width: auto;
  } */
  .secondScreen h1 {
    text-align: left;
    margin-left: 15px;
  }
  .secondScreen p {
    text-align: left;
    padding: 0 15px;
    font-size: 20px;
  }
}

@media (max-width: 950px) {
  .footer {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr);
    gap: 20px; */
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: auto;
    padding-left: 10px;
  }
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  .copyright {
    margin-left: 10px;
  }
  .link-list {
    margin-left: 10px;
  }
  .separate-boxes {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .mini-boxes {
    width: 90%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
  }
  .mini-box {
    width: 100%;
  }
}
